.hover-button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-hover:hover .hover-button{
    opacity: 1; 
}

.image-hover:hover .image {
    transform: scale(1.05); 
  }