#container{
    display: flex;
    margin-top: 10px;
    width: 80%;
    margin: 50px auto;
}
.sidebar{
    width:21%;
    position:sticky;
    height: 50%;
    top:20px;
   
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.product{
    width:85%;
    position:relative;
    
}